body {
  margin: auto;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.app {
  padding: 2em 0;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.movie {
  width: 200px;
  margin: 0 0.5em 1em;
}

.movie .poster {
  height: 300px;
  width: 100%;
  margin-bottom: 1em;
  -webkit-box-shadow: 1px 1px 20px #c7c7c7;
          box-shadow: 1px 1px 20px #c7c7c7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie .title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.movie .rating {
  color: #b8b8b8;
  font-size: 14px;
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
  color: #ffffff;
}

.hero {
  background: url(/assets/images/GettyImages-889642362.jpg);
  width: 100%;
  display: inline-block;
  background-size: cover;
  color: #ffffff;
}

nav {
  background: rgba(0, 0, 0, 0.5);
}

ul {
  color: #b8b8b8;
}

ul > .active {
  color: #ffffff;
}

nav > div > ul {
  margin: 0;
  float: right;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav > div > ul > li {
  display: inline-block;
  padding: 1rem;
  font-size: 16px;
}

nav > div {
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  height: 55px;
  padding: 1rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: relative;
  z-index: 1;
}

.hero-text {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40%;
  padding-bottom: 10%;
}

.hero-text > h1 {
  text-transform: uppercase;
  font-size: 72px;
}

.hero-text > a {
  font-size: 18px;
  background-color: #ffffff;
  padding: 1rem;
  text-decoration: none;
}

.hero-text > a:visited {
  color: #111111;
}

.app {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #3f3f3f;
}

.app > p {
  color: #b8b8b8;
}

.app > h2 {
  text-transform: uppercase;
  font-size: 62px;
}

.paginate > li {
  font-size: 16px;
  padding: 1rem;
  color: #3f3f3f;
  text-decoration: none;
  display: inline-block;
}

.mobile-menu {
  display: none;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 480px) {
  .hero-text {
    text-align: center;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }

  .mobile-menu {
    z-index: 0;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #111111;
  }

  .mobile-menu > ul {
    display: block;
    background-color: #111111;
    list-style-type: none;
    padding-top: 4rem;
  }

  .mobile-menu > ul > li {
    padding: 1rem;
    font-size: 22px;
  }
}

